<ScrollView class="backgroundStyle">
    <StackLayout class="mainStackLayout">
        <StackLayout (tap)="goToBack($event)" orientation="horizontal">
            <StackLayout class="buttonStackBack" orientation="horizontal">
                <Image src="res://leftarrow"></Image>
            </StackLayout>
        </StackLayout>
        <Label class="labelLightStyle labelHeaderMenu"
               [text]="typeAccess=='PATIENT'?'Выберите диагноз':'Выберите пациента'"></Label>

        <AbsoluteLayout *ngIf="diagnosis.length!=counterUsers&&typeAccess=='DOCTOR'||typeAccess=='PATIENT'&&!isLoadedPage" class="cv-wrapper">
            <AbsoluteLayout class="cv0">
                <Label class="cv-ring" ></Label>
                <Label class="cv-lbl1" ></Label>
            </AbsoluteLayout>

            <AbsoluteLayout class="cv1">
                <Label class="cv-lbl1" ></Label>
                <Label class="inner-circle2" ></Label>
            </AbsoluteLayout>
        </AbsoluteLayout>
        <StackLayout *ngIf="diagnosis.length==(counterUsers)||isLoadedPage">
        <StackLayout *ngIf="typeAccess=='DOCTOR'" >
        <StackLayout *ngFor="let dataD of dataPatinent">
            <Button (tap)="goPage(dataD.modelDiagnosisData.id, dataD.modelDiagnosisData.patientId)" class="buttonStyle"
                    [text]="dataD.modelUserData.firstname+' '+dataD.modelUserData.lastname+' '+dataD.modelUserData.otchestvo"></Button>
        </StackLayout>
        </StackLayout>
        <StackLayout *ngIf="typeAccess=='PATIENT'">
        <StackLayout *ngFor="let diagnos of diagnosis">
            <Button (tap)="goPage(diagnos.id, diagnos.patientId)" class="buttonStyle" [text]="diagnos.nameD"></Button>
        </StackLayout>
        </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
