@import "~src/app.css";
.stackLayoutMainPage {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    flex-grow: 2;
    vertical-align: middle;
}
.stackLayoutMain {
    padding: 10 16;
    border-radius: 10px;
}
.stackLayoutHeader{
    font-size: 16px;
    padding: 10 16;
}

.label-reg{
    margin-bottom: 100px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
}
.pickerlabel{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.picker {
    color: #d12662;
    width: 400px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
Image {
    margin-bottom: 20;
    height: 70;
}
TextField {
    margin-bottom: 10;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.btn-enter{
    border-radius: 10px;
}

.btn-back{
    background-color: transparent;
    font-size: 16px;
    color: #D0E1F9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

