@import "~src/app.css";

.mainStackLayout {
    text-align: center;
    font-size: 16px;
    max-width: 90%;
    width: 90%;
}

.loginStack{
    margin-bottom: 20px;
}

.labelSettings{
    font-size: 36px;
    font-family: "Droid Sans Mono", sans-serif;
    font-weight: 200;
}

Image{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 85px;
    max-height: 85px;
    width: 85px;
    max-width: 85px;
}

.flexBox{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labelAcc{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.imageIcon{
    align-content: flex-end;
}

.textFieldAcc{
    placeholder-color: #d12662;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Droid Sans Mono", sans-serif;
}

.stackLayoutMainPage {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    flex-grow: 2;
    vertical-align: top;
}
