<ScrollView class="backgroundStyle stackLayoutMainPage">
    <StackLayout class="mainStackLayout form">
        <StackLayout (tap)="goToSearch($event)" orientation="horizontal">
            <StackLayout class="buttonStackBack" orientation="horizontal">
                <Image src="res://leftarrow"></Image>
            </StackLayout>
        </StackLayout>
        <Label textWrap="true" style="text-align: left" class="labelSettings labelLightStyle" [text]="'Профиль'"></Label>
        <Label [text]="'Имя: '+ usersData?.firstname" class="labelLightStyle labelAcc"></Label>
        <Label [text]="'Фамилия: ' + usersData?.lastname" class="labelLightStyle labelAcc"></Label>
        <Label [text]="'Отчество: ' + usersData?.otchestvo" class="labelLightStyle labelAcc"></Label>
        <Label [text]="'Дата рождения: ' + usersData?.datebirth" class="labelLightStyle labelAcc"></Label>
        <StackLayout class="stackInfoUser backgroundStyleLight">
            <Label class="label-weight-user labelDarkStyle" [text]="'Мои диагнозы'"></Label>
            <Label *ngIf="usersDiagnosis.length==0" class="label-weight-user labelDarkStyle" [text]="'Диагнозов нет'"></Label>
            <StackLayout *ngFor="let diagnosis of usersDiagnosis">
                <StackLayout orientation="horizontal">
                <Label class="label-weight-user labelDarkStyle" style="vertical-align: center;" [text]="diagnosis.nameD"></Label>
                    <Button (tap)="changeDiagnosis(diagnosis.id)"  style="background-color: #ff8e12; height: 130px; width: 220px;" class="buttonStyle" [text]="'Изменить'"></Button>
                </StackLayout>
                <Label class="delimeter labelDarkStyle"></Label>
            </StackLayout>
        </StackLayout>
        <Button (tap)="addDiagnosis($event)" [text]="'Добавить диагноз'"></Button>
        <StackLayout class="stackInfoUser backgroundStyleLight">
            <StackLayout orientation="horizontal">
            <Label class="label-weight-user labelDarkStyle" [text]="'Все диагнозы'"></Label>
            <Button *ngIf="!isShowAllDiagnosis" (tap)="showListTreatment($event)" style="background-color: #ff8e12; width: 300px;" class="buttonStyle" [text]="'Показать'"></Button>
            <Button *ngIf="isShowAllDiagnosis" (tap)="hideListTreatment($event)" style="background-color: #ff8e12; width: 300px;" class="buttonStyle" [text]="'Скрыть'"></Button>
            </StackLayout>
                <Label *ngIf="usersAllDiagnosis.length==0" class="label-weight-user labelDarkStyle" [text]="'Диагнозов нет'"></Label>
            <StackLayout *ngIf="isShowAllDiagnosis">
            <StackLayout *ngFor="let diagnosis of usersAllDiagnosis">
                <StackLayout orientation="horizontal">
                    <Label class="label-weight-user labelDarkStyle" style="vertical-align: center;" [text]="diagnosis.nameD"></Label>
                </StackLayout>
                <Label class="delimeter labelDarkStyle"></Label>
            </StackLayout>
            </StackLayout>
        </StackLayout>
    <StackLayout class="stackInfoUser backgroundStyleLight" style="height: 1000px;">
        <Label class="label-weight-user labelDarkStyle" [text]="'Изменение веса (кг)'"></Label>
        <RadCartesianChart>
                <RadCartesianChartGrid tkCartesianGrid
                                       horizontalLinesVisible="true"
                                       verticalLinesVisible="false"

                                       horizontalStrokeWidth="1"
                                       verticalStrokeWidth="1">
                </RadCartesianChartGrid>
            <Trackball tkCartesianTrackball></Trackball>
            <CategoricalAxis majorTickInterval ="1" labelSize="5" labelFitMode="Rotate" tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis  [minimum]="minWeight" [majorStep]="stepWeight" [maximum]="maxPulse" tkCartesianVerticalAxis></LinearAxis>
            <LineSeries  seriesName="weightArea" tkCartesianSeries [items]="categoricalSource" categoryProperty="dateChange" valueProperty="descriptionChange">
            </LineSeries>
        </RadCartesianChart>
    </StackLayout>
        <StackLayout class="stackInfoUser backgroundStyleLight" style="height: 1100px;">
            <Label class="label-weight-user labelDarkStyle" [text]="'Изменение давления'"></Label>
            <RadCartesianChart>
                <RadLegendView tkCartesianLegend position="Top" height="50" enableSelection="true"></RadLegendView>
                <RadCartesianChartGrid tkCartesianGrid
                                       horizontalLinesVisible="true"
                                       verticalLinesVisible="false"

                                       horizontalStrokeWidth="1"
                                       verticalStrokeWidth="1">
                </RadCartesianChartGrid>
                <Trackball tkCartesianTrackball></Trackball>
                <CategoricalAxis labelTextColor="#cb4b16" textSize="10" labelFitMode="Rotate"  lineThickness="3"tkCartesianHorizontalAxis></CategoricalAxis>
                <LinearAxis [minimum]="minPressure" [majorStep]="stepPressure" [maximum]="maxPressure" lineHidden="false" lineThickness="3" majorStep="5" tkCartesianVerticalAxis></LinearAxis>
                <LineSeries legendTitle="High" seriesName="weightArea" tkCartesianSeries [items]="categoricalSourcePressure" categoryProperty="dateChange" valueProperty="descriptionChangeHigh"></LineSeries>
                <LineSeries legendTitle="Low" seriesName="weightArea" tkCartesianSeries [items]="categoricalSourcePressure" categoryProperty="dateChange" valueProperty="descriptionChangeLow"></LineSeries>
            </RadCartesianChart>
        </StackLayout>
        <StackLayout class="stackInfoUser backgroundStyleLight" style="height: 1000px;">
            <Label class="label-weight-user labelDarkStyle" [text]="'Изменение пульса (уд/мин)'"></Label>
            <RadCartesianChart >
                <RadCartesianChartGrid tkCartesianGrid
                                       horizontalLinesVisible="true"
                                       verticalLinesVisible="false"

                                       horizontalStrokeWidth="1"
                                       verticalStrokeWidth="1">
                </RadCartesianChartGrid>
                <Trackball tkCartesianTrackball></Trackball>
                <CategoricalAxis  allowPan="true" allowZoom="true" majorTickInterval ="1" labelSize="5" labelFitMode="Rotate" tkCartesianHorizontalAxis></CategoricalAxis>
                <LinearAxis [minimum]="minPulse" [majorStep]="stepPulse" [maximum]="maxPulse" tkCartesianVerticalAxis></LinearAxis>
                <LineSeries  seriesName="weightArea" tkCartesianSeries [items]="categoricalSourcePulse" categoryProperty="dateChange" valueProperty="descriptionChangePulse">
                </LineSeries>
            </RadCartesianChart>
        </StackLayout>
    </StackLayout>
    <!--<Label (tap)="goHelp($event)" class="labelAcc labelLightStyle" style="text-decoration: underline; color: #ff8e12" [text]="'Мои данные неверны или изменены.'"></Label>-->
</ScrollView>
