.label-enter{
    font-size: 20px;
    text-align: center;
}
.stackLayoutMainPage {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    flex-grow: 2;
    vertical-align: middle;
}

.stackLayoutHeader{
    font-size: 16px;
    padding: 10 16;
}
Image {
    margin-bottom: 20;
    height: 70;
}

.cv-wrapper {
    height: 200;
    width: 200;
}

.cv0 {
    height: 200;
    width: 200;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    animation-delay: 200ms;
    animation-timing-function: ease;
}

.cv1 {
    height: 200;
    width: 200;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.cv-lbl1 {
    height: 100;
    width: 200;
    background-color: #202c63;
}

.cv-ring {
    top: 36;
    left: 36;
    height: 128;
    width: 128;
    background-color: #ff8e12;
    border-radius: 64;
}

.inner-circle2 {
    height: 100;
    width: 100;
    background-color: #202c63;
    border-radius: 50%;
    top: 50;
    left: 50;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    99.9% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}
